@import "tailwindcss";  
@tailwind utilities;


@import "flowbite/src/themes/default";




@layer base {
  body,html {
    font-family: "Tenor Sans", system-ui, -apple-system, "Segoe UI",
                 Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
}
.navBttn{
    @apply relative  duration-500  font-extralight  text-base uppercase
         after:content-[''] after:absolute after:-bottom-1 after:right-0
         after:h-[2px] after:w-full after:bg-black
         after:origin-right after:scale-x-0 after:transition-transform after:duration-500
         hover:after:scale-x-100 hover:after:origin-left;
}

.line{
  @apply relative duration-500
        after:content-[''] after:absolute after:-bottom-1 after:right-0
         after:h-[2px] after:w-full after:bg-black
         after:origin-right after:scale-x-0 after:transition-transform after:duration-500
         hover:after:scale-x-100 hover:after:origin-left;
}
.logoLine{
  @apply relative duration-500
        after:content-[''] after:absolute after:-bottom-1 after:right-0
         after:h-[2px] after:w-full after:bg-white
         after:origin-right after:scale-x-0 after:transition-transform after:duration-500
         hover:after:scale-x-100 hover:after:origin-left;
}

.main-container {
        height: 100vh;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .rounded{
      border-radius: 50px;
    
    }

    @layer utilities {
    body,
    html {
        
        --font-sans:
       'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
       scroll-behavior: smooth;
       overflow-y: auto;
}
}